* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  margin: 5px;
  border: 1px solid black;
  min-width: 300px;
}

.buttons>* {
  background-color: rgb(157, 234, 15);
}